* {
  margin: 0;
  padding: 0;
}

body {
  color: #faf9f6;
  font-size: medium;
  font-family: "Kanit", serif;
  font-weight: 200;
  font-style: normal;
  background-color: #28282b;
}

@keyframes appearing-disappearing {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* NAVIGATION */
.nav {
  position: fixed;
  top: 0;
  display: flex;
  margin-left: 15%;
  align-items: center;
  justify-content: space-between;
  height: 3.2rem;
  width: 70%;
  background-color: black;
  border-radius: 0 0 25px 25px;
  opacity: 75%;
  z-index: 100;
  border: solid, gray, 1px;
  border-top: none;
}
.nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: right;
  margin-right: 10px;
  margin-bottom: 5px;
}

.nav-link {
  font-weight: 200;
  padding-right: 2%;
}

.nav_logo {
  padding-left: 15px;
  width: 100px;
  height: 100px;
}

.section-link:link,
.section-link:visited {
  font-size: 1.3rem;
  display: block;
  font-weight: 100;
}

/* BACKGROUND IMAGE*/
.bg-image {
  margin-top: 0;
  height: 100vh;
  background-image: url("../img/BG_header_img.jpg"),
    linear-gradient(0, black, transparent),
    linear-gradient(0, #28282b, transparent);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: -1; */
}

/* HEADER TITLE*/

h1 {
  font-weight: 300;
  font-size: 3rem;
}

h2 {
  font-weight: 500;
  font-size: 3.5rem;
}

p {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 130%;
}

.header-title {
  padding-top: 330px;
  display: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 65px;
}

#hero-content {
  opacity: 0%;
  animation-name: appearing-disappearing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/*dividers*/

.divider-about {
  width: 100%;
  height: 15vh;
  background: linear-gradient(black, #28282b);
}

.divider-sections {
  margin: 2.5% auto;
  height: auto;
  width: 90%;
  border-bottom: solid 2px black;
}

/* ABOUT-US */
.about-us {
  margin-top: 5%;
  text-align: left;
}

.about-us-description {
  font-size: 2rem;
}

.join-us-link {
  font-weight: 500;
}

/* Installations */
.gallery {
  display: grid;
  place-items: center;
  margin-top: 5%;
}

.gallery ul {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.gallery li {
  padding: 0;
}

.gallery img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.2s ease;
}

.gallery ul:is(:hover, :focus-within) img {
  opacity: calc(0.1 + (var(--active-lerp, 0) * 0.9));
  filter: grayscale(calc(1 - var(--active-lerp, 0)));
}

:root {
  --lerp-0: 1;
  --lerp-1: 0.5787037;
  --lerp-2: 0.2962963;
  --lerp-3: 0.125;
  --lerp-4: 0.037037;
  --lerp-5: 0.0046296;
  --lerp-6: 0;
}

.gallery a {
  outline-offset: 4px;
}

.result {
  flex: calc(0.1 + (var(--active-lerp, 0) * 1));
  transition: flex 0.2s ease;
}

.gallery li:is(:hover, :focus-within) {
  --active-lerp: var(--lerp-0);
  z-index: 7;
}
.gallery li:has(+ li:is(:hover, :focus-within)),
.gallery li:is(:hover, :focus-within) + li {
  --active-lerp: var(--lerp-1);
  z-index: 6;
}
.gallery li:has(+ li + li:is(:hover, :focus-within)),
.gallery li:is(:hover, :focus-within) + li + li {
  --active-lerp: var(--lerp-2);
  z-index: 5;
}
.gallery li:has(+ li + li + li:is(:hover, :focus-within)),
.gallery li:is(:hover, :focus-within) + li + li + li {
  --active-lerp: var(--lerp-3);
  z-index: 4;
}
.gallery li:has(+ li + li + li + li:is(:hover, :focus-within)),
.gallery li:is(:hover, :focus-within) + li + li + li + li {
  --active-lerp: var(--lerp-4);
  z-index: 3;
}
.gallery li:has(+ li + li + li + li + li:is(:hover, :focus-within)),
.gallery li:is(:hover, :focus-within) + li + li + li + li + li {
  --active-lerp: var(--lerp-5);
  z-index: 2;
}
.gallery li:has(+ li + li + li + li + li + li:is(:hover, :focus-within)),
.gallery li:is(:hover, :focus-within) + li + li + li + li + li + li {
  --active-lerp: var(--lerp-6);
  z-index: 1;
}

/* Trainers*/
.trainers-title {
  margin-bottom: 3%;
}

.trainers-text-title {
  font-size: 45px;
  line-height: 50px;
}

.trainers-title .trainers-count {
  font-size: 25px;
  line-height: 40px;
}

.swiper {
  margin-top: -1%;
  text-align: center;
  height: 100%;
}

.swiper-item {
  padding: 30px 0 40px;
  background-color: rgb(128, 128, 128, 0.3);

  text-align: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 10px rgba(0, 0, 0, 0.2);
  border: solid 2px rgba(0, 0, 0, 0.9);
}

.swiper-item .trainer-picture {
  display: inline-block;
  height: 200px;
  width: 200px;
  margin-bottom: 45px;
  z-index: 1;
  position: relative;
}

.swiper-item .trainer-picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.8;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.swiper-item:hover .trainer-picture::before {
  height: 100%;
}

.swiper-item .trainer-picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.swiper-item img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.swiper-item:hover .trainer-picture img {
  box-shadow: 0 0 0 14px grey;
  transform: scale(0.7);
}

.swiper-item .trainer-speciality {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.swiper-item .trainer-name {
  display: block;
  font-size: 30px;
  text-transform: capitalize;
}

.swiper-button {
  color: white;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  .about-us-description {
    font-size: 1.2rem;
  }

  .trainers-text-title {
    font-size: 2rem;
  }

  .trainers-title .trainers-count {
    font-size: 1.2rem;
  }

  .header-title-hero {
    font-size: 3rem;
  }

  .nav-links {
    opacity: 0;
  }

  .location-container {
    flex-direction: column;
  }

  .location-map {
    margin-top: 5%;
  }
}

.section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* Location*/
.location-container {
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-map {
  width: 100%;
  height: 100%;
}

.location-info {
  width: 100%;
  text-align: left;
}

.divider-location {
  width: 90%;
  border: solid 1px black;
  margin: 2% 0;
}

.location-title {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 6%;
}

.location-text {
  font-size: 1.5rem;
  font-weight: 200;
}

.location-text .bold {
  font-weight: 400;
}

.address p {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.hours p {
  line-height: 2rem;
}

.hours-title {
  font-size: 1.5rem;
}

.hours-open {
  font-size: 1.3rem;
  font-weight: 200;
}

/* Button */
a.location-address-button {
  display: inline-block;
  padding: 0.25em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 2% 0%;
  border-radius: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}
a.location-address-button:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  a.location-address-button {
    display: block;
    margin: 0.4em auto;
  }
}

/* footer */
footer {
  background-color: #000000;
  margin-top: 5%;
}

.footer-sections {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2% 0;
}

.footer-items {
  list-style-type: none;
}

.footer-item {
  margin-top: 2%;
  font: inherit;
  display: flex;
}

.footer-section-title {
  font: inherit;
  font-weight: 300;
  font-size: 2.2rem;
}

.footer-item img {
  padding-right: 4%;
  width: 12%;
}
