* {
  margin: 0;
  padding: 0;
}

body {
  color: #faf9f6;
  font-size: medium;
  font-family: "Kanit", serif;
  font-weight: 200;
  font-style: normal;
  background-color: #28282b;
}

@keyframes appearing-disappearing {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* NAVIGATION */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.2rem;
  width: 70%;
  background-color: black;
  margin: auto;
  border-radius: 0 0 25px 25px;
  opacity: 75%;
  z-index: 100;
  border: solid, gray, 1px;
  border-top: none;
}
.nav-links {
  display: flex;
  list-style: none;
  width: 28%;
  justify-content: space-around;
  margin-right: 10px;
  margin-bottom: 5px;
}

.nav_logo {
  height: 6rem;
  margin-left: 10px;
  margin-bottom: 5px;
}

.section-link:link,
.section-link:visited {
  font-size: 1.3rem;
  display: block;
  font-weight: 100;
}

/* BACKGROUND IMAGE*/
.bg-image {
  height: 100vh;
  background-image: url("../img/BG_header_img.jpg"),
    linear-gradient(0, black, transparent),
    linear-gradient(0, #28282b, transparent);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

/* HEADER TITLE*/

h1 {
  font-weight: 300;
  font-size: 3rem;
}

h2 {
  font-weight: 500;
  font-size: 3.5rem;
}

p {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 130%;
}

.header-title {
  margin-top: 330px;
  display: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 65px;
}

#hero-content {
  opacity: 0%;
  animation-name: appearing-disappearing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/*dividers*/
.divider {
  width: 100%;
  height: 15vh;
}

.divider-about {
  background: linear-gradient(black, #28282b);
}

/* ABOUT-US */
.about-us {
  margin-top: 5%;
  width: 70%;
  margin: auto;
  text-align: left;
}

.join-us-link {
  font-weight: 500;
}

/* Installations */
.installations {
  width: 70%;
  margin: 0 auto;
  padding-top: 2%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2%;
  row-gap: 0.5%;
}

.media-container {
  position: relative;
  text-align: center;
}

.inst-desc {
  position: absolute;
  top: 2%;
  left: 4%;
  font-size: 2rem;
  font-weight: 200;
}

.inst-img {
  width: 100%;
  border: solid grey;
  border-radius: 5%;
  filter: brightness(0.8);
}

.media-container:hover {
  .inst-img {
    filter: brightness(1);
  }

  .inst-desc {
    font-weight: 300;
  }
}

/* Phone size optimizations*/
@media only screen and (max-width: 768px) {
  .installations {
    grid-template-columns: auto;
  }
}

/* Trainers*/
.trainers-text {
  width: 82%;
  margin: auto;
}

.trainers-text-count {
  font-size: 1.8rem;
}

.slider {
  max-width: 100rem;
  height: 35rem;
  margin: auto;
  position: relative;
  display: flex;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 35rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.info-trainer-button {
  font-size: 1.5rem;
  padding: 10px 35px;
  color: #030728;
  border-radius: 6px;
  font-weight: 200;
  cursor: pointer;
  background: #fff;
  border: 1px solid transparent;
  transition: 0.2s ease;
}

.info-trainer-button:hover {
  background: grey;
  border: 1px solid #fff;
  color: #fff;
}

.trainer-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 3px solid grey;
  padding: 3px;
  object-fit: cover;
}

.trainer-slide {
  width: auto;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;

  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid grey;
}

.trainer-name {
  font-size: 2.5rem;
  color: #e3e3e3;
  font-weight: 300;
}

.trainer-specialty {
  font-size: 1.5rem;
  color: #e3e3e3;
  font-weight: 200;
  margin: 1px 0 30px;
}

.slider__btn {
  position: absolute;
  top: 360vh;
  z-index: 10;

  border: none;
  background: none;
  font-family: inherit;
  color: #fff;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}
